nav{
	@include outer-container;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 5px;
	position: relative;
	text-align: right;
	top: 10px;

	@media #{$mq-mobile}{
		@include span-columns(12);
		top: 0;
	}

	img{
		float: left;
		width: 200px;
		position: relative;
		top: -14px;
		padding: 0 10px;

		@media #{$mq-mobile}{
			width: 53%;
			margin-top: 20px;
		}
	}
}
.nav{
	font: 400 12px/30px Montserrat, sans serif;
	text-transform: uppercase;
	padding: 4px 0;

	li{
		display: inline-block;
		list-style: none;
		text-align: center;
		position: relative;
		top: 7px;
		white-space: nowrap;

		a{
			text-decoration: none;
			color: black;
			display: block;
			padding-right: 10px;

			&:hover{
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
	.active{
		a{
		color: rgba(0, 0, 0, 0.5);
		}
	}
	@media #{$mq-mobile}{
	font: 400 16px/30px Montserrat, sans serif;
	display: none;
		li{
			width: 49%;
			border-bottom: 1px solid rgba(0,0,0,.1);
			top: 0;
		}
	}
}
ul.sub-nav{
	@extend .nav;
	margin-top: 30px;
	padding-left: 0;
	text-align: center;
	list-style: none;

	li{
		width: 24%;
	}

	@media #{$mq-mobile}{
		margin-top: 35px;

		li{
			width: 47%;
		}
	}
}
ul.treatments{
	list-style: none;

	li{
		margin: 5px 0;
	}
	> li:before {
		content: "\2666 \0020";
	}
}

#nav-menu{
  width: 50px;
  margin-top: 10px;
}

.line {
  height: 6px;
}

.mobile-menu {
  text-align: right;
  display: none;
  margin-right: em(10);

  @media #{$mq-mobile}{
    display: block;
  }

  a {
    //background: black;
    border-radius: em(13);
    padding: em(10) em(12);
    margin: em(5);
    display: inline-block;

    &:hover {
      //background: white;
      cursor: pointer;

      .line{
        background: black;
      }
    }
  }
  .line {
    margin: em(5) 0 em(5);
    background: black;
  }
}
.mobile-menu.home{
  display: none;

  @media #{$mq-mobile}{
    display: block;
  }
}

.nav-show {
  display: block !important;
  margin-bottom: -9px;
}


