.menu-btn{
	top: 15px;
	left: 10px;
	font: 400 100px/80px amazon, open sans, sans serif;

	&:hover{
		cursor: pointer;

		span{
			opacity: .9;
		}
	}
	&:before{
		
		color: white;
		content: "D";
		opacity: .9;
	}

	span{

		transition: .5s all;
		font: 400 20px/20px open sans, sans serif;
		color: white;
		border: 1px solid white;
		padding: 0px 6px 2px;
		border-radius: 9px;
		position: relative;
		top: -36px;
		left: 10px;
		opacity: .0;


	}
	
}
.button-black:before{
	color: black;
}
nav{
	float: left;
	font-size: 14px;
	line-height: 25px;
	position: relative;
	top: 15px;
	@media #{$mq-mobile}{
		@include span-columns(12);
		top: 0;
	}
}
.nav{
	font: 400 26px/30px amazon, serif;
	padding: 0;
	margin-top: 40%;

	li{
		display: inline-block;
		list-style: none;
		width: 250px;
		text-align: center;
		white-space: nowrap;
		&:hover{
			//background-color: rgba(0, 0, 0, 0.05);
		}
		a{
			text-decoration: none;
			color: black;
			display: block;
			padding-right: 30px;
		}
	}
	@media #{$mq-mobile}{
			

		margin-top: 0;
	}
}
ul.sub-nav{
		@extend .nav;
		margin-top: 0;
		padding-left: 0;
		text-align: center;
		list-style: none;

		li{
			width: 24%;
			@media #{$mq-mobile}{
				width: 47%;
			}
		}
}
ul.treatments{
	list-style: none;

	li{
		margin: 5px 0;
	}
	> li:before {
		content: "\2666 \0020";
	}
}
