@import 'bourbon';
@import "neat";
@import "variables";
@import "nav"; 

@font-face {
  font-family: 'amazon';
  src: url('/fonts/amazonrg.ttf')  format('truetype')
}

h1,h2,h3{
	font-family: amazon;
	font-weight: 400;
}

html, body{
	overflow-x: hidden;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
    height: 100%;
	margin: 0;
	font-family:  open sans, sans-serif;
}
.pushy{
    width: 250px; /* Changed the width to 400px */
    transition: 1s;
}

.pushy-left{
    transform: translate3d(-400px,0,0); 
    transition: 1s;
}

.container-push, .push-push{
    transform: translate3d(400px,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}

.top{
	height: 50vw;
	position: relative;
}

.title{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	z-index: 1;
	text-align: center;

	h1{
		margin: 0;
		font:400 100px/80px amazon, open sans, sans serif; 
		opacity: .9;
		color: white;
		text-decoration: none;
		padding: 0 10px;

		@media #{$mq-mobile}{
			font-size: 65px;
		}
	}

	h1 span.black{
		color: black;
	}
}

.hero{
	position: absolute;
	background: #191918;
	top: 0;
	left: 0;
	right: 0;
	height: 50vw;
	pointer-events: none;

}

.image-head{
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
 
.header{
	@include row(); 
	@include shift(2);
	margin-top:50px;
	
	@media #{$mq-mobile}{
		@include shift(0);
		img{
			width: 100%;
		}
	}
}
.content{
	@include outer-container;
  	max-width: 60em; 
}
.container{ 
	
	@include row();
	@include span-columns(12);
	float: left;
	position: relative;
	font: 400 24px/38px open sans, sans-serif;

	padding: 14px 0px 25px 0px;
	
	@media #{$mq-mobile}{
		@include span-columns(12);
		font-size: 18px;
		padding: 0 15px; 
	}
}
.image-container{
	float: left;
	margin-right: 25px;
	width: 54%;
	padding-top: 18px;
	img{
		position: relative;
		width: 100%; 
	}
	.contact-image{
		width: 49%;
	}
	@media #{$mq-tablet}{
		float: none; 
		width: 93%;
	}
	@media #{$mq-mobile}{
		margin: 15px 0;
		width: 100%;
 
	}
}
.image-container-small{
	@extend .image-container;
	text-align: center;

	@media #{$mq-desktop}{
		width: 40%;
	}
	img{
		@media #{$mq-tablet-mobile}{
			width: 80%;
		}
	}
}
.media-container{
	margin-top: 57px;
	text-align: center;
	margin-top: 100px;
}
.text-wrap{
	@include span-columns(3);
	@include shift(1);
	margin-left: 15px;
	.container{
		padding-bottom: 0;
		margin-top: 50px;
	}
	@media #{$mq-tablet-mobile}{
		@include span-columns(12);
		@include shift(2);
		.container{
			@include span-columns(5);
		}
	}
}
a{
	color: black;
}
.service{
	float: left;

	@media only screen and (max-width: 841px){
		margin-top: -24px;
	}
}

.services-container{
	@extend .left;
}

.prices{
	text-align: center;
}
.left{
	@media #{$mq-desktop}{
		width: 100%;
		float: left;
	}
}
.right{
	@media #{$mq-desktop}{
		float: right;
		width: 42%;
	}
}

.center, .video{
	text-align: center;
}

.index .title{
	left: 290px;
	top: 55px;

	@media #{$mq-mobile}{
		left: 190px;
		top: 41px;
	}
}

.services .title {
	left: 290px;
	top: 55px;
}

.bio .title{
	left: 54%;
	top: 71%;
}

.hair_institute .title{
	width: 62%;
	left: 68%;
	top: 27%;
	@media #{$mq-mobile}{
		top: 43%;
	}
}

.contact_us .title{
	left: 48%;
	top: 23%;

	@media #{$mq-mobile}{
		top: 42%;
	}
}


@import 'pushy';
