@import 'bourbon';
@import "neat";
@import "variables";
@import "nav"; 

.wrap{
  @include outer-container;
  //max-width: 80em;
}

.header{
	@include row(); 
	@include shift(2);
	margin-top:50px;
	
	@media #{$mq-mobile}{
		@include shift(0);
		img{
			width: 100%;
		}
	}
}

.content{
	
	@include row();
	@include span-columns(12);
}
.container{ 
	@include span-columns(10);
	float: left;
	position: relative;
	font-family: 'Comfortaa', sans-serif;
	font-size: 14px;
	padding: 14px 0px 0px 25px;
	
	@media #{$mq-mobile}{
		@include span-columns(12);
		font-size: 18px;
		padding: 0 15px; 
	}
}
.image-container{
	float: left;
	margin-right: 25px;
	width: 54%;
	padding-top: 18px;
	img{
		position: relative;
		width: 100%; 
	}
	@media #{$mq-tablet}{
		float: none; 
		width: 93%;
	}
	@media #{$mq-mobile}{
		margin: 15px 0;
		width: 100%;
 
	}
}
.media-container{
	float: left;
}
.text-wrap{
	@include span-columns(3);
	@include shift(1);
	margin-left: 15px;
	@media #{$mq-tablet-mobile}{
		@include span-columns(12);
		@include shift(0);
	}
}
.p_index{
	font-family: 'Comfortaa', sans-serif;
	position: relative;
	right: 158px;
	top: 0px;
	font-size: 14px;
	z-index: 0;
	height: 322px;
	padding: 14px 1px 1px 1px;
}
.services{
	float: left;
}
.prices{
	margin-top: 37px;
	text-align: center;
}