@import 'bourbon';
@import "neat";
@import "variables";
@import "nav"; 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


.wrap{
  @include outer-container;
  //max-width: 80em;
}
.header{
	@include row(); 
	@include shift(2);
	margin-top:50px;
	
	@media #{$mq-mobile}{
		@include shift(0);
		img{
			width: 100%;
		}
	}
}
.content{
	@include row();
	@include span-columns(12);
}
.container{ 
	@include span-columns(10);
	float: left;
	position: relative;
	font-family:  open sans, sans-serif;
	font-size: 14px;
	padding: 14px 0px 0px 25px;
	
	@media #{$mq-mobile}{
		@include span-columns(12);
		font-size: 18px;
		padding: 0 15px; 
	}
}
.image-container{
	float: left;
	margin-right: 25px;
	width: 54%;
	padding-top: 18px;
	img{
		position: relative;
		width: 100%; 
	}
	.contact-image{
		width: 49%;
	}
	@media #{$mq-tablet}{
		float: none; 
		width: 93%;
	}
	@media #{$mq-mobile}{
		margin: 15px 0;
		width: 100%;
 
	}
}
.image-container-small{
	@extend .image-container;
	text-align: center;

	@media #{$mq-desktop}{
		width: 40%;
	}
	img{
		@media #{$mq-tablet-mobile}{
			width: 80%;
		}
	}
}
.media-container{
	float: left;
	margin-top: 15px;
}
.text-wrap{
	@include span-columns(3);
	@include shift(1);
	margin-left: 15px;
	@media #{$mq-tablet-mobile}{
		@include span-columns(12);
		@include shift(0);
	}
}
a{
	color: black;
}
h3.underline{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 175px;
}
.services{
	float: left;
	margin-top: -14px;
}
.services-container{
	@extend .left;
}

.prices{
	text-align: center;
}
.left{
	@media #{$mq-desktop}{
		width: 55%;
		float: left;
	}
}
.right{
	@media #{$mq-desktop}{
		float: right;
		width: 42%;
	}
}
.underline, .underline-extended{
	width: 225px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
h2.underline-extended{
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	width: 300px;
	@media #{$mq-mobile}{
		width: 370px;
	}
}
.center, .video{
	text-align: center;
}