---
image: bio
title: Bio
---
/.image-container-small
/	= image_tag 'bio.jpg', :alt => 'Biography Picture'
%header.left
	%h3.underline About Us
%p Eva Diaz Duarte is a third generation hairdresser from Oviedo, Spain. She grew up watching her mother, aunt, and grandmother transform clients with new hairstyles. Realizing that she had the same passion for beauty, Eva moved to London at the age of 18 to train with Vidal Sassoon, and in 1997 was invited to join the Sebastian technical team in Los Angeles

%p After 6 years at Fred Segal in Santa Monica, Eva opened Duarte Salon in 2003. Duarte Salon is a true Spanish-style salon with a comfortable, familial environment, and providing top-of-the-line services in L.A.’s Hollywood Hills.

%p As of 2010 we partnered exclusively with <a href='http://www.leonorgreyl-usa.com/leonor-greyl-customized-hairspa-treatment-centers/' target="_blank">Leonor Grey</a> to bring a full menu of customized hair and scalp treatments. After two years of working exclusively with her, we discovered the need to address the growing problems of hair and scalp with treatments available at the salon and at home.

%p While working with Leonar Greyl, we discovered deeper problems and after careful consideration we decided to partner with the World trichology society. This was done to complement what we have been doing with Leonor Greyl and to explore the causes and solutions from both a natural and paramedical point of view. We have developed a hybrid system of treating hair and scalp disorders that is guaranteed to give results.

%p Eva’s vision of stylish ease and individuality draws a wide clientèle, including celebrity clients like Kate Burton, Mila Kunis, Breckin Meyer, Alanis Morissette, Leslie Mann, Maya Rudolph, Robert Schwartzman, and Talia Shire. Her expertise, cutting edge fashion sense, and desire to cultivate comfortable and inviting spaces make the Salon Duarte experience exceptional and unique.