%head
  %script{:src => "gen_validatorv4.js", :type => "text/javascript"}
%body
.form_div
  %h1 Book with us
  %p We'll be more than happy to help you
  .first_schedule_div_booking Tue - Sat
  .first_time_div_booking 10.00 - 17.00
  .second_schedule_div_booking Sun
  .second_time_div_booking 10.30 - 17.00
  %form#my_form{:action => ""}
    %p
      %label{:for => "Name"} Name
      %input#Name{:name => "Name", :type => "text", :required => "true"}/
    %p
      %label{:for => "Phone"} Phone
      %input#Phone{:name => "Phone", :type => "text"}/
    %p
      %label{:for => "Email"} E-mail
      %input#Email{:name => "Email", :type => "text"}/
    %p
      %label{:for => "Date"} Date
      %input#Date{:name => "Date", :type => "text"}/
    %p
      %label{:for => "Hour"} Hour
      %input#Hour{:name => "Hour", :type => "text"}/
    %p
      #comment Comment
      %textarea{:cols => "20", :name => "comments", :rows => "4"}
    %p
      %input{:name => "submit", :type => "submit", :value => "Submit"}
  :javascript
    var frmvalidator = new Validator("myform");
    frmvalidator.addValidation("Name","req","Please enter your Name");
    frmvalidator.addValidation("Name","maxlen=40",
    "Max length for Name is 40");

    frmvalidator.addValidation("Email","maxlen=50");
    frmvalidator.addValidation("Email","req");
    frmvalidator.addValidation("Email","email");
 
    frmvalidator.addValidation("Phone","maxlen=50");
    frmvalidator.addValidation("Phone","numeric");
