.image-container
  = image_tag 'contact-1.jpg', :alt => 'Phone Picture', :class => 'contact-image'
  = image_tag 'contact-2.jpg', :alt => 'Phone Picture', :class => 'contact-image'
.text-wrap   
  %h3.underline Email
  %p eva@duartesalon.com
  %h3.underline Telephone
  %p 323-461-5500
