---
image: job-opportunities
title: Job Opportunities
hero: true
layout: page
---

%p At Duarte we are actively looking for hair colorists and cutters to join our team. 
%p If you are interested email eva@duartesalon.com with a copy of your resume.