---
image: services
title: Services
hero: true
layout: page
---
.services-container
  .service
    %p Haircut
    %p Highlights
    %p Color
    %p Blow Dry
    %p Iron Work
    %p Relaxer/Perm
    %p Brazilian Blowout
    %p Customized Treatment
    %p Mini-Spa Treatment
    %p Trichology Consulation
    %p *Blow dry not included
  .prices
    %p 185.
    %p 175.
    %p 150.
    %p 85.    
    %p 65.    
    %p 150.
    %p 350.
    %p 150.*
    %p 45-65.*
    %p Complementary