.image-container-small
  = image_tag 'wind.jpg', :alt => 'Services Picture'
.services-container
  %h2.underline Services
  .services
    %p Haircut
    %p Highlights
    %p Color
    %p Blow Dry
    %p Iron Work
    %p Relaxer/Perm
    %p Brazilian Blowout
    %p Customized Treatment
    %p Mini-Spa Treatment
    %p Trichology Consulation
    %p *Blow dry not included
  .prices
    %p 185.
    %p 175.
    %p 150.
    %p 85.    
    %p 65.    
    %p 150.
    %p 350.
    %p 150.*
    %p 45-65.*
    %p Complementary