%h3 Trichology
%p Trichology is a branch that deals with the scientific study and health of the hair and scalp. Trichologists are hair and scalp specialists who diagnose the causes of hair loss, breakage, thinning, miniaturization, diseases of the scalp, and all treatments are according to cause.

%p We are a proud member of the World Trichology Society,  a  professional  organization  dedicated to educating, supporting, and promoting Trichology in North America and Worldwide. We are committed to helping the public by educating them about the possible causes of their hair loss and by informing them of their choices treatments .

%p Not all hair loss is permanent, there are many hair loss conditions that can be slowed, halted or even reversed. The first step is finding out all of the causes responsible for your hair loss. Treatment is then provided for each one of those causes. This means a multifaceted, customized treatment regimen may be necessary to achieve best results.

%p It is best to discover the origin of hair loss by scheduling a complementary in-person consultation. In order to determine an appropriate treatment regimen, it is necessary to first identify your specific type of hair loss as well as the root cause(s) that may be responsible .

%h3 Consulation
%p During your private and confidential comprehensive evaluation, we take a full case history by specifically detailing health, diet, stress, lifestyle, and environmental influences on your hair and scalp.